{% extends 'test.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <!--div class = "container" >-->                      
            <!--<h2>Welcome to home page</h2>-->
            <img src= "static/images/bg_img.png" alt="first image" style="margin-top:0px; width:1200px ;height:auto; padding-top: 0px;">
            <!--<p class="p1">The overall goal of this project is to investigate the general basis of flight delays and identify airlines, airports and routes with the highest delay rates. Data Flight delay statistics for this project are originally sourced from the Bureau of Transportation Statistics(BTS). The project demonstrates visualizations with multiple views on flight delay dataset across major airports, airlines, routes and months of the year.</p>
            <p class= "p1">The airlines report the causes of delays in five broad categories: Air Carrier, Extreme Weather, National Aviation System (NAS), Late-arriving aircraft, Security.It provides users the ability to easily access and interpret timeseries flight delay statistics for various airports spread across the USA and the reason of likelihood a flight will be delayed at a particular airport and the trending performance of a particular airport in terms of its likelihood of flight delay.
            </p>-->
        <hr>   
        <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-12">
                <!-- Left box  -->
                <div class="box">
                  <h3 class="title">About Project:</h3>
                  <p>The overall goal of this project is to investigate the general basis of flight delays and identify airlines, airports and routes with the highest delay rates. Data Flight delay statistics for this project are originally sourced from the Bureau of Transportation Statistics(BTS). The project demonstrates visualizations with multiple views on flight delay dataset across major airports, airlines, routes and months of the year.</p>
                </p>
                  <p>The airlines report the causes of delays in five broad categories: Air Carrier, Extreme Weather, National Aviation System (NAS), Late-arriving aircraft, Security.It provides users the ability to easily access and interpret timeseries flight delay statistics for various airports spread across the USA and the reason of likelihood a flight will be delayed at a particular airport and the trending performance of a particular airport in terms of its likelihood of flight delay.
                </p>
                </div>
              </div>
               
        </div>  
        </div> 
                
{% endblock %}       
            
                
   <!-- </div>-->
<!--<div>
        <h1>Airline statistics and delay causes</h1>
        <img src="static/images/bg_img.png" width="1250">
</div>-->
<!--<div class="container">
    <h1>Airline statistics and delay causes</h1>-->
 <!--</div>-->    
        

    