{% extends 'test.html' %}
{% block title %}performance{% endblock %}

{% block content %}

<h1>Thankyou!</h1>
<marquee direction = "left" behavior= "left" scrollamount = "15" loop="5" bgcolor="#fff"><p style="font-size:xx-large;"><b>Finally we have arrived on time. Wish you all a very Merry Christmas and a very Happy New Year from Team White!</b></p></marquee>
    
        <img src="https://media.giphy.com/media/3kw6dAXfmIr6D83WrD/giphy.gif"></img>
    
    
{% endblock %}


    
